<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpagina</title>


    <link rel="stylesheet" href="/stylesheets/detailpagina.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include('nav.ejs') %>
        <%- include('profielbutton.ejs') %>

            <main>

                <button class="back"> <a href="overzicht.ejs">
                        < </a></button>
                <ul class="breadCrumbs">
                    <li><a href="/">Home</a> /&nbsp;</li>
                    <li><a href="overzicht.ejs">Zoek een personal trainer</a> /&nbsp;</li>
                    <li>
                        <%= trainer.naam %>
                    </li>
                </ul>

                
                <h2>Trainer profile</h2>

                <div class="algemeneInformatie">

                    <div class="containerProfiel">
                        <div class="profileFotoContainer">
            
                            <img src="<%= trainer.profielfoto || '/stylesheets/images/default-profile.png' %>"
                                alt="Profielfoto van <%= trainer.naam %>">

                        </div>

                        


                        <div class="rechts">
                            <div class="naamLocatie">
                                <ul>
                                    <li>
                                        <h3 class="naam">
                                            <%= trainer.naam %>
                                        </h3>
                                    </li>
                                    <!-- <li>
                                        <p class="locatie"><img src="/stylesheets/images/location-pin.png" alt="">
                                            <%= trainer.locatie %>
                                        </p>
                                    </li> -->
                                </ul>
                            </div>

                            <div class="contact">
                                <div class="contactLinks">
                                    <ul class="contactInfo">
                                        <li class="leeftijd">Leeftijd</li>
                                        <li class="geslacht">Geslacht</li>
                                    </ul>
                                </div>

                                <div class="contactrechts">
                                    <ul class="contactInfo">
                                        <li class="leeftijdNummer">
                                            <%= trainer.leeftijd %>
                                        </li>
                                        <li class="geslachtMV">
                                            <%= trainer.gender %>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="expertiseContainer">
                                <h3>Expertise</h3>
                                <ul class="pills">
                                    <li>
                                        <%= trainer.expertise %>
                                    </li>
                                </ul>
                            </div>

                            <div class="expertiseContainer">
                                <h3>Beschikbaar op</h3>
                                <ul class="pills">
                                    <% trainer.beschikbaarheid.forEach(day=> { %>
                                        <li>
                                            <%= day %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>

                            <div class="contactInfoContainer">
                                <h3>Contact Informatie</h3>
        
                                <div class="contact">
                                    <div class="contactLinks">
                                        <ul class="contactInfo">
                                            <li class="tel"><a href="tel:<%= trainer.telefoon %>">Telefoonnummer</a></li>
                                            <li class="mail"><a href="mailto:<%= trainer.email %>">Email </a></li>
                                        </ul>
                                    </div>
        
                                    <div class="contactRechts">
                                        <ul class="contactInfo">
                                            <li class="nummer"><a href="tel:<%= trainer.telefoon %>">
                                                    <%= trainer.telefoon %>
                                                </a></li>
                                            <li class="email"><a href="mailto:<%= trainer.email %>">
                                                    <%= trainer.email %>
                                                </a></li>
                                        </ul>                
                                        <a class="whatsapp" href="https://wa.me/<%= trainer.telefoon %>?text=Ik%20ben%20ge%C3%AFnteresseerd%20in%20een%20personal%20trainer.%20Kun%20je%20me%20meer%20info%20geven%20over%20mogelijkheden%20en%20kosten?%20Ik%20hoor%20graag%20van%20je%20<%= encodeURIComponent(trainer.naam) %>">
                                            <i class="fab fa-whatsapp"></i>
                                          </a>              
                                    </div>

                                </div>
                            </div>
        
                        </div>

                        
                    </div>

         
                </div>
            </main>

            <%- include('footerraha.ejs') %>

                <script src="/stylesheets/scripts/detailpagina.js"></script>
</body>

</html>