<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/banner.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/fit-buddy/public/stylesheets/ourstory.css">
    <link rel="stylesheet" href="/stylesheets/kaart.css">
    <link rel="stylesheet" href="/stylesheets/collaps.css" />
    
    <link rel="stylesheet" href="/stylesheets/workoutslider.css" />
</head>
<body>
    <header>

    <%- include('nav.ejs') %>


</header>
<main>
    <%- include('banner.ejs') %>
    <%- include('ourstory.ejs') %>
    <!-- <%- include('waaromons.ejs') %> -->
    <%- include('workoutslider.ejs') %>

    <%- include('profielbutton.ejs') %>
    <%- include('kaart.ejs') %>
 <footer>
    <%- include('footerraha.ejs') %>
</footer>
</main>
</body>
</html>
