<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Overzicht</title>

    <link rel="stylesheet" href="/stylesheets/overzicht.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/filters.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    
</head>
<body>


    <%- include('nav.ejs') %>
    
        <main>
            <div id="mainSection">
                <h2 class="countUsers">Personal Trainers</h2>
                <div class="filter">
                    <input type="search" class="search" placeholder="Filter op naam...">
                    <div class="pills">
                        <button class="pill" type="button">24 hours</button>
                        <button class="pill" type="button">Top Trainers</button>
                        <button class="pill" type="button">Skills</button>
                        <button class="pill" type="button" id="filterButton" class="w3-button w3-black"><i class="fa fa-filter" style="font-size:24px;color:rgb(238, 198, 0)"></i>Filters </button>
                   </div>
          
        
        
    <%- include('filters.ejs') %>
        
        
        
                <p class="beschikbareBuddies"><%= trainers ? trainers.length : 0 %> Buddies Beschikbaar</p>

                <ul class="kaarten list">
                    <% if (trainers) { %>
                        <% trainers.forEach(trainer => { %>
                            <li>
                                <a href="/trainer/<%= trainer._id %>" class="kaart">
                                    <img class="banner" src="<%= trainer.bannerImage || '/stylesheets/images/shoulder.jpeg' %>" alt="">
                                    <div class="kaart_overlay">
                                        <div class="kaart_header">
                                            <img class="profielfoto" src="<%= trainer.profielfoto || '/stylesheets/images/trainer2.png' %>" alt="">
                                            <div class="kaart_header_tekst">
                                                <h3><span class="naam"><%= trainer.naam %></span></h3>
                                                <!-- <p>Geslacht: <%= trainer.gender %></p> -->
                                                <div class="beschikbaarheid">
                                                <p class="beschikbaarheid">Beschikbaar op: <%= trainer.beschikbaarheid.join(', ') %></p>
                                                </div>
                                            </div>
                                        </div>
                                  
                                        <div class="skills-container">
                                            <h4>Skills</h4>
                                            <ul class="skills">
                                                <% Array.isArray(trainer.expertise) && trainer.expertise.forEach(skill => { %>
                                                    <li><%= skill %></li>
                                                
                                                <% }) %>
                                                <% if (!Array.isArray(trainer.expertise)) { %>
                                                    <li><%= trainer.expertise %></li>
                                                <% } %>
                                             
                                            </ul>
                                        </div>
                                           
                                    </div>
                                </a>
                            </li>
                        <% }) %>
                    <% } else { %>
                        <li>Geen trainers beschikbaar</li>
                    <% } %>
                </ul>
            </div>
            <script src="/stylesheets/scripts/overzicht.js"></script>
        </main>
    
    <%- include('footerraha.ejs') %>
    
</body>
</html>
