<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trending Workouts</title>

    <link rel="stylesheet" href="/stylesheets/navbar.css" />

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/animationbar.css" /> 
<link rel="stylesheet" href="stylesheets/heroslider.css" />
    <link rel="stylesheet" href="stylesheets/newhomepage.css" /> 
    <link rel="stylesheet" href="stylesheets/scripts/footerraha.css" />
  </head>

  <body>
<header>
  
   <!-- include maakt het overzichtelijker om alles toe te voegen-->
    <%-include ('nav.ejs')%> 
    <%- include('heroslider.ejs') %>

</header>
<%- include('animationbar.ejs') %>
    <main>
      <%- include('waaromons.ejs') %>
      <%- include('newhomepage.ejs') %>


     </main>
  

      <%- include('footerraha.ejs') %>
      <%- include('profielbutton.ejs') %>
    
  </body>
  <script src="/stylesheets/scripts/animationbar.js"></script>
  
  <script src="/stylesheets/scripts/trendingworkouts.js"></script>

  <script src="/stylesheets/scripts/heroslider.js"></script>

  <script src="/stylesheets/scripts/footerraha.js"></script>

</html>
